#index-body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5rem;
}

#recipe-holder {
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
    padding-bottom: 2rem;
}

#recent-recipes {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    grid-column-gap: 6rem;
}

#about {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

#about img {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

#about p {
    width: 15rem;
}

#recipeCard {
    padding: 2rem;
    border-radius: 1rem;
    transition: box-shadow 0.5s;
}

#recipeCard:hover {
    box-shadow: 1px 1px 24px -5px rgba(122,114,114,0.51);
    -webkit-box-shadow: 1px 1px 24px -5px rgba(122,114,114,0.51);
    -moz-box-shadow: 1px 1px 24px -5px rgba(122,114,114,0.51);
}

@media screen and (max-width: 800px) {
    #recent-recipes {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1200px) {
    #about {
        display: none;
    }
}